* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(177, 183, 197, 0.561);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;

  width: 200px;
  height: 100px;

  font-size: 29px;
  outline: none;

  transition: background-color 0.2s ease-in, transform 0.2s;

  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.9);
}
