:root {
  --background-color: hsl(0, 0%, 100%);
  --color-text: hsl(228, 12%, 44%);
  --color-title: black;
  --color-card-bg: hsl(227, 47%, 96%);

  --color-positive: hsl(163, 72%, 41%);
  --color-negative: hsl(356, 69%, 56%);
}

.dark-mode:root {
  --background-color: hsl(230, 17%, 14%);
  --color-text: hsl(228, 34%, 66%);
  --color-title: white;
  --color-card-bg: hsl(228, 28%, 20%);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-color);
}

body,
html,
.container {
  transition: background-color 0.2s;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

/* ========================================================================== /
/ GROUP-STYLES  /
/ ========================================================================== */

.info__sub-title,
.header__text,
.body__text,
.toggle__text,
.overview__title {
  color: var(--color-text);
}

.info__sub-title,
.toggle__text,
.header__text,
.body__title,
.footer__text,
.overview__title,
.bottom__quantity,
.percentage__text {
  font-weight: bold;
}

/* ========================================================================== /
/ END-GROUP-STYLES /
/ ========================================================================== */

.container {
  height: 100%;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
}

/* ========================================================================== /
/ CONTAINER SOCIAL MEDIA  /
/ ========================================================================== */

.container__social-media {
  width: 100%;
}

.social-media__top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-bar__info {
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 15px;
}

.info__title {
  font-size: 24px;
  color: var(--color-title);
}

.info__sub-title {
  font-size: 15px;
}

.top-bar__toggle {
  display: flex;
  justify-content: space-between;

  margin: 10px 0;
}

.toggle__container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__input:focus + .toggle__switch {
  box-shadow: 0 0 1px #2196f3;
}

.toggle__switch {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;

  transition: 0.4s;
  border-radius: 34px;
  background-color: #ccc;
}

.toggle__input:checked + .toggle__switch {
  background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.toggle__switch:before {
  content: "";
  position: absolute;

  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 4px;

  transition: 0.4s;
  border-radius: 50%;
  background-color: white;
}

.toggle__input:checked + .toggle__switch::before {
  transform: translateX(-26px);
  background-color: var(--background-color);
}

.social-media__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========================================================================== /
/ CARD /
/ ========================================================================== */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  width: 100%;
  height: 200px;
  background-color: var(--color-card-bg);
  border-radius: 10px;
  margin-top: 20px;
  max-width: 350px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background: black;
  top: 1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  left: 0;
}

.card--facebook.card::before {
  background-color: hsl(208, 92%, 53%);
}

.card--twitter.card::before {
  background-color: hsl(203, 89%, 53%);
}

.card--instagram.card::before {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.card--youtube.card::before {
  background-color: hsl(348, 97%, 39%);
}

.card__header,
.card__body,
.card__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__header {
  width: 105px;
  justify-content: space-between;
}

.card__body {
  flex-direction: column;
}

.body__title {
  font-size: 50px;
  color: var(--color-title);
}

.body__text {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__image {
  margin-right: 5px;
}

.footer__text--red {
  color: var(--color-negative);
}

.footer__text--green {
  color: var(--color-positive);
}

/* ========================================================================== /
/ END-CARD /
/ ========================================================================== */

/* ========================================================================== /
/ END-CONTAINER SOCIAL MEDIA/
/ ========================================================================== */

/* ========================================================================== /
/ CONTAINER OVERVIEW/
/ ========================================================================== */

.container__overview {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.overview__title {
  font-size: 30px;
  color: var(--color-title);
}

.overview__content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview__card-status {
  height: 120px;
  background-color: var(--color-card-bg);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  max-width: 350px;
  width: 100%;
}

.card-status__top,
.card-status__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.top__title {
  color: var(--color-title);
}

.bottom__quantity {
  font-size: 35px;
  color: var(--color-title);
}

.bottom__percentage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.percentage__image {
  margin-right: 5px;
}

/* ========================================================================== /
/ END-CONTAINER OVERVIEW/
/ ========================================================================== */

/* ========================================================================== /
/ TABLET/
/ ========================================================================== */

@media screen and (min-width: 730px) and (max-width: 999px) {
  .container {
    padding: 20px 60px;
  }

  .card,
  .overview__card-status {
    max-width: 293px;
  }

  .overview__card-status {
    min-width: 250px;
  }

  .overview__card-status + .overview__card-status {
    margin-left: 0;
  }

  .social-media__content,
  .overview__content {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .social-media__top-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .info__title,
  .overview__title {
    font-size: 20px;
  }

  .top-bar__info {
    border: 0;
  }

  .info__sub-title,
  .toggle__text {
    font-size: 12px;
  }

  .toggle__text {
    margin-right: 10px;
  }

  .top-bar__toggle {
    margin: 0;
    align-items: center;
  }

  .toggle__container {
    height: 24px;
    width: 48px;
  }

  .toggle__switch:before {
    height: 20px;
    width: 20px;
    right: 3px;
    bottom: 3px;
  }

  .toggle__input:checked + .toggle__switch::before {
    transform: translateX(-22px);
  }
}

/* ========================================================================== /
/ END-TABLET /
/ ========================================================================== */

/* ========================================================================== /
/ DESKTOP /
/ ========================================================================== */

@media screen and (min-width: 1000px) and (max-width: 1165px) {
  .card,
  .overview__card-status {
    max-width: 100%;
  }

  .social-media__content,
  .overview__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
}

@media screen and (min-width: 1166px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 20px 80px;
    max-width: 1200px;
  }

  .card {
    max-width: 240px;
  }

  .overview__card-status {
    max-width: 244px;
  }

  .overview__card-status + .overview__card-status {
    margin-left: 0;
  }

  .social-media__content,
  .overview__content {
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 10px;
  }

  .social-media__top-bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .info__title,
  .overview__title {
    font-size: 20px;
  }

  .top-bar__info {
    border: 0;
  }

  .info__sub-title,
  .toggle__text {
    font-size: 12px;
  }

  .toggle__text {
    margin-right: 10px;
  }

  .top-bar__toggle {
    margin: 0;
    align-items: center;
  }

  .toggle__container {
    height: 24px;
    width: 48px;
  }

  .toggle__switch:before {
    height: 20px;
    width: 20px;
    right: 3px;
    bottom: 3px;
  }

  .toggle__input:checked + .toggle__switch::before {
    transform: translateX(-22px);
  }
}

/* ========================================================================== /
/ END-DESKTOP /
/ ========================================================================== */
