* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-bg: linear-gradient(90deg, rgba(33, 36, 35, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

html,
body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  padding: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*========================================================================== /
/ TITLE
/ ==========================================================================*/

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bg-title {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.bg-title--desert {
  background: url(./images/desert.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-title--forest {
  background: url(./images/forest.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-title--grass {
  background: url(./images/grass.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-title--ground {
  background: url(./images/ground.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-title--lava {
  background: url(./images/lava.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-title--rock {
  background: url(./images/rock.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-title--water {
  background: url(./images/water.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/*========================================================================== /
/ END-TITLE
/ ==========================================================================*/

/*========================================================================== /
/ FORM
/ ==========================================================================*/

.form {
  margin-top: 10px;
  display: flex;
  width: 600px;
}

.form__group {
  text-align: center;
}

.form__control {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 3px;
}

/*========================================================================== /
/ END-FORM
/ ==========================================================================*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*========================================================================== /
/ BOARD
/ ==========================================================================*/

.board {
  margin-top: 20px;
  width: 600px;
  height: 600px;
  border: 8px solid #76888c;
  display: grid;
  gap: 4px;
  padding: 4px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.board__square {
  background: var(--base-bg);
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.board__text {
  display: flex;
  font-size: 30px;
  text-align: center;
}

/*========================================================================== /
/ END-BOARD
/ ==========================================================================*/

/*========================================================================== /
/ OPTIONS
/ ==========================================================================*/

.container-options {
  margin-top: 20px;
  display: flex;
}
.option {
  width: 112px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.option--desert .option__image {
  background: url(./images/desert.jpg);
}
.option--forest .option__image {
  background: url(./images/forest.jpg);
}
.option--grass .option__image {
  background: url(./images/grass.jpg);
}
.option--ground .option__image {
  background: url(./images/ground.jpg);
}
.option--lava .option__image {
  background: url(./images/lava.jpg);
}
.option--rock .option__image {
  background: url(./images/rock.jpg);
}
.option--water .option__image {
  background: url(./images/water.jpg);
}

.option__text {
}
.option__image {
  width: 60px;
  height: 60px;
}

/*========================================================================== /
/ END-OPTIONS
/ ==========================================================================*/
