* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;

  width: 85%;
  height: 515px;
  background-color: white;
  border-radius: 15px;
}

.card__hero {
  position: absolute;
  width: 100%;
  top: 0;
}

.card__hero img {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.card__hero .platform {
  top: 0;
  right: 47%;
}

.card__hero > img + img {
  top: -106px;
}

.card__faq {
  height: 100%;
  margin-top: 100px;
}

.faq__title {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.faq__list {
  list-style: none;
}

.faq__item {
  border-bottom: solid 1px hsl(240, 5%, 91%);
  cursor: pointer;
}

.faq__item.active .item__title::after {
  transform: rotate(180deg);
}

.faq__item.active .item__title {
  font-weight: bold;
}

.faq__item + .faq__item {
  margin-top: 10px;
}

.item__title {
  font-weight: normal;
  padding-bottom: 20px;
  position: relative;
}

.item__title::after {
  content: url(./images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.2s ease-out;
}

.item__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: hsl(240, 6%, 50%);
}

.mobile-only {
  display: initial !important;
}

.desktop-only {
  display: none !important;
}

@media screen and (min-width: 780px) and (max-height: 1440px) {
  .card {
    display: grid;

    grid-template-columns: 1fr 1fr;

    padding: 20px;

    min-width: 780px;
    max-width: 1000px;

    padding-left: 0;

    height: 515px;
    background-color: white;
    border-radius: 15px;
  }

  .card__hero {
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }

  .card__hero img {
    position: absolute;

    transform: translateY(-50%);
    top: 50%;
    left: -42px;
  }

  .card__hero > img + img {
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
  }

  .box-image {
    position: absolute;
    z-index: 2;

    left: -90px;
    bottom: 139px;
  }

  .card__faq {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    margin-top: 0;
  }

  .faq__title {
    text-align: left;
    margin-bottom: 37px;
  }

  .faq__list {
    width: 80%;
  }

  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: initial !important;
  }
}
