:root {
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  justify-content: space-between;

  border-radius: 12px;
  overflow: hidden;

  width: 89%;
  max-width: 700px;
}
.card-image {
  width: 100%;
  height: 250px;
}
.card__content {
  padding: 20px;
}
.content__title {
  font-size: 17px;
}
.content__text {
  margin-top: 20px;
  font-size: 13px;
}
.card__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

footer {
  width: 100%;
  position: relative;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.user__detail {
}
.user__name {
  font-size: 12px;
  font-weight: bold;
}
.user__birthday {
}

.profile__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.button {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.card__share {
  background-color: var(--dark-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;

  transform: translateX(110%);
  bottom: 0;

  transition: transform 0.5s ease-in;

  width: 100%;
  height: 75px;

  padding: 10px 20px;
}

.card__share.active {
  transform: translateX(0%);
}

.share__icon {
  height: 30px;
  width: 30px;
}

.content__title,
.user__name {
  color: var(--dark-grayish-blue);
}

.user__birthday,
.content__text {
  color: var(--desaturated-dark-blue);
}

.share__text {
  color: var(--grayish-blue);
}

@media screen and (max-height: 600px) {
  .card-image {
    height: 190px;
  }
}

@media screen and (min-width: 650px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;

    border-radius: 12px;
    overflow: hidden;
  }
  .card-image {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: block;
    object-fit: cover;
    height: 100%;
  }
  .card__content {
    padding: 30px;
    grid-column: 2;
  }

  .content__title {
    font-size: 20px;
  }
  .content__text {
    font-size: 14px;
  }

  footer {
    grid-column: 2;
  }
}
